<app-add-plats></app-add-plats>
<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Liste des plats</h2>
    </div>

    <div class="table-responsive">
      <table class="content-table">
        <thead>
          <tr>
            <th scope="col" >Photo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Restaurant</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plat of Plats; let i = index">
            <th scope="row" hidden>{{plat._id}}</th>
            <td><img src="{{plat.foodImg}}"></td>
            <td>{{plat.nom}}</td>
            <td>{{plat.prix}}</td>
            <td>{{plat.ingredients}}</td>
            <td>{{plat.restaurant}}</td>
            <td class="text-center">
              <button mat-icon-button color="primary" routerLink="/edit-plat/{{plat.id}}"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="delete(plat._id, i)"><mat-icon>delete</mat-icon></button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
